<div class="jumbotron">
	<h1>How The Bullhorn App Works!</h1>
	<p>Make plans with friends from 5 feet or 500 miles.</p>

	<h3> Going home? on vacation? a business trip? and want to see your friends...  </h3>
	<div class="row">
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
    	<img src="facebook-twitter-logo-2.jpg" alt="Facebook Logo">
      <div class="caption">
        <h3>Sign In!</h3>
        <p>Use Facebook or Twitter to find Friends and Family</p>
        <p><a href="#" class="btn btn-primary" role="button">Sign Up Now</a> 
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
    	<img src="map.jpg" alt="map image">
      <div class="caption">
        <h3>Where are you going?</h3>
        <p>Across town or across the world, where will you be?</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
    	<img src="food.jpg" alt="Dinner?">
      <div class="caption">
        <h3>Find Something To Do!</h3>
        <p>Lunch? Dinner? Movies? Mini-Golf?</p>
        
      </div>
    </div>
  </div>
	</div>
	<p> because <p>
</div>


