<div class="jumbotron">
	<h1>How The Bullhorn App Works!</h1>
	<p>Make plans with friends from 5 feet or 500 miles.</p>

	<h3> Going home? on vacation? a business trip? and want to see your friends...  </h3>
	<div class="row">
  <div class="col-sm-4 col-md-6">
    <div class="thumbnail">
    	<img src="facebook-twitter-logo-2.jpg" alt="Facebook Logo">
      <div class="caption">
        <h3>Sign In!</h3>
        <p>Use Facebook or Twitter to find Friends and Family</p>
        <p><a href="#" class="btn btn-primary" role="button">Sign In Now</a> 
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-6">
    <div class="thumbnail">
    	<img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Where are you going?</h3>
        <p>Across town or across the world, where will you be?</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 col-md-6">
    <div class="thumbnail">
    	<img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>duh</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
	</div>
	<p> because <p>
</div>


